<html lang="es">
<%- include('head',{title:'Partidos', head_add: ''})%>
  <body>
<%- include('alerta')%>
<%- include('navbar', {user: nombre, position: 'equipos'}) %>
<main>
	
  <!--CREAR EQUIPO-->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear equipo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/partidos/add" id="form-add-equipo">
          <div class="mb-3">
          <label for="nombre-input" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre-input" required="true"><br>
          <label for="nombre-input" class="form-label">Ciudad de procedencia</label>
          <input type="text" class="form-control" name="ciudad" id="ciudad-input" required="true">
      </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="$('form-add-equipo').submit();" class="btn btn-primary">Crear equipo</button>
      </div>
    </div>
  </div>

  <!-- EQUIPOS USUARIO-->

  <!-- UNIRSE A UN EQUIPO  -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Unirse a un equipo</h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="/partidos/add" id="form-add-equipo">
          <div class="mb-3">
            <label for="nombre-input" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre-unirse-input" required="true"><br>
      </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="$('form-add-equipo').submit();" class="btn btn-primary">Unirse al equipo</button>
      </div>
    </div>
  </div>


  <!-- ABANDONAR EQUIPO VERIFICACION -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Abandonar equipo</h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="/partidos/add" id="form-remove-equipo">
          <div class="mb-3">
            <label for="nombre-input" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre-input" required="true"><br>
      </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Abandonar equipo</button>
      </div>
    </div>
  </div>

  <!-- VER JUGADORES EQUIPO -->
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Equipo</h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="/partidos/add" id="form-remove-equipo">
          <div class="mb-3">
            <label for="nombre-input" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre-input" required="true"><br>
      </div>
      <div>
        <div class="h5">Jugadores</div>
        <ul class="list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>

    </ul>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="$('form-add-equipo').submit();" class="btn btn-primary">Buscar jugadores</button>
      </div>
    </div>
  </div>
</main>
</body>
<script type="text/javascript">
	const socket = io();
</script>
</html>