<html lang="es">
<%- include('head',{title:'Inicio', head_add: ''})%>
  <body>
<%- include('alerta')%>
<%- include('navbar', {user: true, username: nombre, position: 'index'}) %>
<main>
	Contenido pa registrados <%= nombre %>, cierra sesión en <a href="/logout">Este sitio</a>
</main>
</body>
<script type="text/javascript">
	const socket = io();
</script>
</html>