<html lang="en">
<%- include('head',{title:'Inicio', head_add: ''})%>
  <body>
<%- include('alerta')%>
<main class="text-center">
	Contenido pa registrados <%= nombre %>, cierra sesión en <a href="/logout">Este sitio</a>
</main>
</body>
</html>