<html lang="en">
<%- include('head',{title:'Iniciar Sesi칩n', head_add: '<link href="stylesheets/login.css" rel="stylesheet">'})%>
  <body>
<%- include('alerta')%>
<main class="text-center">
  <div class="form-signin border border-light rounded">
  <form method="POST" action="/login" class="p-1">
    <h1 class="h1 mb-5 fw-normal">Login</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="email-input" name="email" placeholder="email" required="true">
      <label for="email-input">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="pass" id="password-input" placeholder="Contrase침a" required="true">
      <label for="password-input">Contrase침a</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesi칩n</button>
    <p class="mt-2">O</p>
    <a class="w-100 btn btn-lg btn-primary" href="/registro" role="button">Registrarse</a>
    
  </form>
</div>
</main>
</body>
</html>