<html lang="en">
<%- include('head',{title:'Registrarse', head_add: '<link href="stylesheets/registro.css" rel="stylesheet"><script type="text/javascript" src="/scripts/registro.js"></script>'})%>
    <body>
<%- include('alerta')%>
<main class="text-center">
<div class="form-signin border border-light rounded">
  <form method="POST" action="/registro" onsubmit="return validate_register();" class="p-1">
    <h1 class="h1 mb-5 fw-normal">Registro</h1>
    <div class="form-floating">
      <input type="text" class="form-control form-top" id="nombre-input" name="name" placeholder="Nombre" required="true">
      <label for="nombre-input">Nombre</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control form-middle" id="email-input" name="email" placeholder="email" required="true">
      <label for="email-input">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control form-middle" minlength="4" name="pass" id="password1-input" placeholder="Contrase単a" required="true">
      <label for="password1-input">Contrase単a</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control form-bottom" minlength="4" name="pass2" id="password2-input" placeholder="Repita la contrase単a" required="true">
      <label for="password2-input">Repetir Contrase単a</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
  </form>
</div>
</main>


    
  

</body></html>